<a href="https://colab.research.google.com/github/JOSEPHREDDY07/Ineuron_ml_deployment_trng/blob/master/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#assignment 4
#The moving average sequence has n-k+1 elements
ip = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
k = 4
mvg = 0
fmv = 0
y = (len(ip)-4+1)
#print (k)

for j in range(0,y):
  z = 1
  mvg = 0
  for i in range(0,k):
    #print(i,j, ip[i+j])
    mvg = ip[i+j] + mvg
    z = z + 1
  fmvg = mvg/k
  print("iteration:", j, "--", mvg, fmvg)

iteration: 0 -- 100 25.0
iteration: 1 -- 140 35.0
iteration: 2 -- 180 45.0
iteration: 3 -- 220 55.0
iteration: 4 -- 260 65.0
iteration: 5 -- 300 75.0
iteration: 6 -- 340 85.0

In [23]:
#function to find moving average in an array over a window:
ip = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k = 3
mvg = 0
fmv = 0
y = (len(ip)-4+1)
#print (k)

for j in range(0,y):
  z = 1
  mvg = 0
  for i in range(0,k):
    #print(i,j, ip[i+j])
    mvg = ip[i+j] + mvg
    z = z + 1
  fmvg = mvg/k
  print("iteration:", j, "--", mvg, fmvg)

iteration: 0 -- 15 5.0
iteration: 1 -- 14 4.666666666666667
iteration: 2 -- 17 5.666666666666667
iteration: 3 -- 20 6.666666666666667
iteration: 4 -- 29 9.666666666666666
iteration: 5 -- 86 28.666666666666668
iteration: 6 -- 148 49.333333333333336
iteration: 7 -- 218 72.66666666666667
iteration: 8 -- 252 84.0
iteration: 9 -- 280 93.33333333333333

In [2]:
#How-to-count-distance-to-the-previous-zero
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [7]:
z = (df.X != 0).cumsum()
print(z)
y = z != z.shift
print(y)
y.groupby((y != y.shift()).cumsum()).cumsum()

0    1
1    2
2    2
3    3
4    4
5    5
6    6
7    6
8    7
9    8
Name: X, dtype: int64
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: X, dtype: bool

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
Name: X, dtype: float64

In [37]:
#date time index, random series
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
date_today = datetime.now()
#days = pd.date_range(date_today, date_today + timedelta(7), freq='D')
idx = pd.date_range('2015-01-01', periods=365, freq='D')
day = (idx.strftime("%A"))
year = idx.year
month = idx.month
np.random.seed(seed=100)
data = np.random.randint(1, high=100, size=len(idx))
df1 = pd.DataFrame({'Ind': idx, 'num': data, 'day':(idx.strftime("%A")),'month':month, 'year':year})
df1 = df1.set_index('Ind')
print(df1)

            num        day  month  year
Ind
2015-01-01    9   Thursday      1  2015
2015-01-02   25     Friday      1  2015
2015-01-03   68   Saturday      1  2015
2015-01-04   88     Sunday      1  2015
2015-01-05   80     Monday      1  2015
...         ...        ...    ...   ...
2015-12-27   51     Sunday     12  2015
2015-12-28   47     Monday     12  2015
2015-12-29   61    Tuesday     12  2015
2015-12-30   81  Wednesday     12  2015
2015-12-31   70   Thursday     12  2015

[365 rows x 4 columns]

In [35]:
import datetime
x = datetime.datetime.now()
print(x.strftime("%A"))

df1.head(5)
df1.groupby('day')['num'].sum()
#df1.query("day == Wednesday")['num'].sum()

df1.groupby(df1['day'].apply(lambda x: 'Wednesday' in x)).sum()

df1.groupby(['day'])['num'].sum()

Tuesday

day
Friday       2573
Monday       2768
Saturday     2684
Sunday       2663
Thursday     2716
Tuesday      2318
Wednesday    2586
Name: num, dtype: int64

In [40]:
df1.groupby(df1['day'].apply(lambda x: 'Wednesday' in x)).sum()

         num  month    year
day
False  15722   2038  630695
True    2586    344  104780

In [39]:
df1.groupby(['month'])['num'].sum()

month
1     1389
2     1434
3     1557
4     1593
5     1501
6     1564
7     1498
8     1698
9     1560
10    1460
11    1494
12    1560
Name: num, dtype: int64

In [51]:
def qtr_formula(x):
  if x in [1,2,3]: 
    return 1
  elif x in [4,5,6]: 
    return 2
  elif x in [7,8,9]:
    return 3
  else:
    return 4
qtr_formula(12)
df1['qtr'] = df1.apply(lambda row: qtr_formula(row['month']), axis=1)
df1.head()
df1.tail()

            num        day  month  year  qtr
Ind
2015-12-27   51     Sunday     12  2015    4
2015-12-28   47     Monday     12  2015    4
2015-12-29   61    Tuesday     12  2015    4
2015-12-30   81  Wednesday     12  2015    4
2015-12-31   70   Thursday     12  2015    4

In [55]:
(df1.groupby(['qtr'])['num'].max())

qtr
1    99
2    99
3    99
4    97
Name: num, dtype: int64

In [60]:
rf = df1.loc[df1.groupby(['qtr'])['num'].max()]
rf

KeyError: ignored

In [45]:
for i in range(len(df1)):

No