<a href="https://colab.research.google.com/github/JOSEPHREDDY07/Ineuron_ml_deployment_trng/blob/master/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#assignment 4
#The moving average sequence has n-k+1 elements
ip = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
k = 4
mvg = 0
fmv = 0
y = (len(ip)-4+1)
#print (k)

for j in range(0,y):
  z = 1
  mvg = 0
  for i in range(0,k):
    #print(i,j, ip[i+j])
    mvg = ip[i+j] + mvg
    z = z + 1
  fmvg = mvg/k
  print("iteration:", j, "--", mvg, fmvg)

iteration: 0 -- 100 25.0
iteration: 1 -- 140 35.0
iteration: 2 -- 180 45.0
iteration: 3 -- 220 55.0
iteration: 4 -- 260 65.0
iteration: 5 -- 300 75.0
iteration: 6 -- 340 85.0

In [23]:
#function to find moving average in an array over a window:
ip = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k = 3
mvg = 0
fmv = 0
y = (len(ip)-4+1)
#print (k)

for j in range(0,y):
  z = 1
  mvg = 0
  for i in range(0,k):
    #print(i,j, ip[i+j])
    mvg = ip[i+j] + mvg
    z = z + 1
  fmvg = mvg/k
  print("iteration:", j, "--", mvg, fmvg)

iteration: 0 -- 15 5.0
iteration: 1 -- 14 4.666666666666667
iteration: 2 -- 17 5.666666666666667
iteration: 3 -- 20 6.666666666666667
iteration: 4 -- 29 9.666666666666666
iteration: 5 -- 86 28.666666666666668
iteration: 6 -- 148 49.333333333333336
iteration: 7 -- 218 72.66666666666667
iteration: 8 -- 252 84.0
iteration: 9 -- 280 93.33333333333333

In [24]:
#How-to-count-distance-to-the-previous-zero
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4